\set ON_ERROR_STOP on

--CREATE USER hatool PASSWORD 'hatool';

CREATE DATABASE hatool WITH OWNER=hatool
    encoding   = 'UTF-8'
    LC_CTYPE   = 'en_US.UTF-8'
    LC_COLLATE = 'en_US.UTF-8'
    TEMPLATE template0;
\c hatool
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO hatool;
ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT SELECT ON TABLES TO hatool;
